* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#mainNav {
  position: fixed;
  width: 20%;
  height: 100vh;
  text-align: center;
}

#main {
  padding-left: 20%;
}

.about {
  padding: 50px;
}

.nav-container {
  gap: 15px;
}

.media-icons {
  display: flex;
  gap: 10px;
  color: #fff;
  font-size: 1.1rem;
}

.brand-title {
  margin-right: 0;
  font-weight: 400;
  font-size: 1.4rem;
}

.hobbies-interests {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 70%;
}

.bio {
  color: #fff;
}

.profile-rounded {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-pic {
  width: 400px;
  filter: grayscale(100%) contrast(0.8) brightness(1.4);
}

#myform {
  background-color: darkcyan;
  padding: 50px;
  margin: 10px;
  height: 200px;
  width: 60%;
}

.footer,
.push {
  padding: 20px;
  height: 50px;
}
